body > .container {
    margin: 20px auto;
}

.margin-top {
    margin-top: 50px;
}

#images-list {
    list-style-type: none;
}

#images-list li {
    display: inline-block;
}

#images-list img {
    max-width: 200px;
    border: 1px solid black;
}

#tag-list, #category-list, #city-list {
    margin-top: 30px;
    padding: 0;
    list-style-type: none;
}

#tag-list li, #category-list li, #city-list li {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
}

#product-tag-list, #product-tag-list-right,
#post-tag-list, #post-tag-list-right {
    list-style-type: none;
    padding: 0;
}

#product-tag-list li, #product-tag-list-right li,
#post-tag-list li, #post-tag-list-right li {
    padding: 5px 10px;
    margin: 5px;
    display: inline-block;
    background-color: #ddd;
}

#product-tag-list li:nth-child(2n+1), #product-tag-list-right li:nth-child(2n+1),
#post-tag-list li:nth-child(2n+1), #post-tag-list-right li:nth-child(2n+1) {
    background-color: #eee;
}

.orders-list {
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
}

#priceChart {
    width: 100%;
    height: 300px;
}

.feedback-status, .feedback-delete {
    text-decoration: none;
    color: white;
}

.feedback-status:hover, .feedback-delete:hover {
    color: #ccc;
    text-decoration: none;
}

#log-container-500, #log-container-400 {
    max-height: 458px;
    overflow-y: scroll;
}

#log-container-400 {
    display: none;
}

.blog-short-description {
    height: 100px;
}

.blog-full-description {
    height: 500px;
}

#feedback-container {
    max-height: 500px;
    overflow-y: scroll;
}

.search-criteria {
    margin-bottom: 20px;
}

.order-note-container {
    display: none;
}

.hidden {
    display: none;
}

.table-orders textarea {
    width: 0px;
    height: 0px;
}

.order-note-container textarea {
    min-width: 70px;
    min-height: 50px;
}