<header id="header">
    <div>
        <nav>
            <ol>
                <li><a href="@Url.Action("index", "home")">Начало</a></li>
                <li><a href="@Url.Action("index", "gallery", new { id = string.Empty })">Галерия</a></li>
                @*<li><a href="/mugs/about-us.php">За нас</a></li>*@
                <li><a href="@Url.Action("contacts", "home")">Контакти</a></li>
            </ol>
        </nav>
    </div>
</header>
