@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700&subset=latin,cyrillic-ext);

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-style: normal;
}

canvas {
    width: 100%;
    height: 650px;
    display: block;
    touch-action: none;
}

#canvas-container {
    width: 100%;
    background-color: #E4E4E4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#canvas-container > div:first-of-type {
    width: 700px;
}

#canvas-container-right {
    width: 300px;
    padding-top: 80px;
    /*height: 400px;*/
}

#canvas-container-right strong, #product-details-order strong {
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    color: black;
    font-weight: normal;
    margin: 30px 0 5px 0;
    display: block;
}

#product-details-order strong {
    margin: 0;
}

.price-container {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.price-container h3 {
    font-size: 55px;
    color: black;
}

.price-container span:first-of-type {
    font-size: 20px;
    padding-top: 9px;
    box-sizing: border-box;
}

.price-container span:last-of-type {
    align-self: flex-end;
    box-sizing: border-box;
    padding-bottom: 9px;
}

.circle {
    border: 1px solid black;
    font-family: Arial;
    font-size: 20px;
    border-radius: 20px;
    width: 24px;
    height: 24px;
    text-align: center;
    display: inline-block;
}

.circle-white {
    border: 1px solid white;
}

.site-section {
    width: 1000px;
    margin: 0 auto;
    padding: 40px 0;
    box-sizing: border-box;
    color: #757575;
    font-family: Tahoma;
    font-size: 15px;
    font-weight: normal;
    line-height: 25px;
}

#header {
    background-color: #0fcabf; /* 69DDD1 */
}

#header > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1000px;
    height: 70px;
}

#header h1 {
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-size: 20px;
}

#header ol {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

#header li {
    display: inline-block;
    padding: 0 20px;
}

#header li a {
    color: white;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-decoration: none;
}

.site-section h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 29px;
    font-weight: bold;
    text-align: center;
    color: #343434;
    margin: 10px 0 20px 0;
}

.site-section h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 21px;
    color: #A5A5A5;
    font-weight: normal;
    text-align: center;
    margin: 20px 0 30px 0;
}

#about-us-summary > div {
    display: flex;
    justify-content: space-between;
}

#about-us-summary > div > span {
    width: 50%;
}

#about-us-summary > div > span:first-of-type {
    padding-right: 20px;
}

#about-us-summary > div > span:last-of-type {
    padding-left: 20px;
}

#footer {
    background-color: #333;
    width: 100%;
    color: #9D9D9D;
    font-family: Arial;
    font-size: 13px;
    margin-bottom: 5px;
}

#footer > div {
    width: 1000px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#footer > div > div {
    width: 333px;
    padding-right: 20px;
    box-sizing: border-box;
    margin: 30px 0;
}

#footer h5 {
    margin-bottom: 20px;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
}

input[type=text], input[type=email], textarea, select {
    width: 100%;
    background-color: white;
    border: 1px solid #D4D4D4;
    height: 35px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: normal;
    font-family: Arial;
    padding: 0 10px;
}

input[type=range] {
    width: 100%;
    box-sizing: border-box;
    margin: 8px 0;
}

textarea {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 90px;
    resize: none;
}

.blue-btn {
    width: 100%;
    background-color: #217E79;
    display: block;
    text-align: center;
    text-decoration: none;
    height: 35px;
    padding-top: 10px;
    text-transform: uppercase;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: white;
    font-family: Arial;
}

#footer nav ol, #footer ul {
    list-style-type: none;
}

#footer nav a {
    color: #ccc;
    text-decoration: none;
}

#footer ul li {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-bottom: 5px;
}

#footer ul a {
    color: #ccc;
    text-decoration: none;
}

#recommended-products {
    overflow: auto;
}

#recommended-products ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#recommended-products img {
    display: block;
}

.touchcarousel {
    height: 310px;
}

.touchcarousel-item {
    width: 200px;
}

/*.touchcarousel-container a {
    text-decoration: none;
    color: #555;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}*/

#recommended-products strong {
    display: block;
    color: #636363;
    font-weight: normal;
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px 0;
}

#logo-container {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #E4E4E4;
    padding: 15px 0;
    align-items: center;
}

#logo-container div {
    text-align: left;
}

    #logo-container div:nth-of-type(2) {
        padding-left: 20px;
    }

#logo-container .fa {
    font-size: 47px;
}

#logo-container h1 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 24px;
    font-weight: normal;
    /*text-transform: uppercase;*/
}

#logo-container h2 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

/*#upload-file-form span {
	display: block;
	position: absolute;
	height: 80px;
}

#upload-file-form .fa {
	font-size: 45px;
	cursor: pointer;	
}

#upload-file-form .fa-caret-up {
	position: relative;
	top: -24px;
	left: 49px;
}

#upload-file-form .fa-caret-right {
	position: relative;
	left: -3px;
}

#upload-file-form .fa-caret-down {
	position: relative;
	left: -51px;
	top: 21px;
}

#upload-file-form .fa-square {
	position: relative;
	left: -2px;
	top: -7px;
	font-size: 26px;
	cursor: default;
}

.joystick {
	display: inline-block;
	width: auto;
	height: auto;
}*/
.move {
    outline: none;
}

.move-controls {
    /*height: 40px;*/
    display: inline-block;
    margin-bottom: 10px;
}


.hidden {
    display: none;
}


#step2 table {
    width: 100%;
    font-family: 'Comfortaa', cursive;
    font-size: 13px;
    color: black;
}

#step2 table td:first-of-type {
    text-align: right;
    width: 50%;
    box-sizing: border-box;
    padding-right: 5px;
}

.order-back {
    font-size: 28px !important;
    cursor: pointer;
}

#about-us-stats {
    background-color: #526272;
}

#about-us-stats dt, #about-us-stats dd {
    display: inline-block;
    width: 100px;
}

#about-us-stats ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    color: white;
    font-family: Arial;
    text-align: center;
}

#about-us-stats li h3 {
    font-size: 50px;
}

#about-us-stats li strong {
    font-weight: normal;
    margin-top: 10px;
    display: block;
}

#users-feedback {
    background-color: #f7f7f7;
}

#users-feedback ul {
    list-style-type: none;
}

#users-feedback li:nth-child(2n) {
    text-align: right;
    margin: 20px 0;
}

input.invalid, textarea.invalid {
    border: 1px solid red;
}

#contacts ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    margin-top: 20px;
}

#contacts li {
    width: 25%;
    color: #555;
}

#contacts li:nth-child(2n+1) {
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
    font-weight: bolder;
    color: #333;
}

#contact-form {
    background-color: #0fcabf;
}

#contact-form h2 {
    color: white;
}

#contact-form form {
    width: 500px;
    margin: 0 auto;
}

#gallery > div {
    display: flex;
}

#gallery-left {
    min-width: 242px;
}

#gallery-left strong {
    display: block;
    background-color: #0fcabf;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-right: 20px;
    color: white;
    font-size: 20px;
    font-weight: normal;
    font-family: 'PT Sans', sans-serif;
}

#gallery-left ul {
    list-style-type: none;
    padding: 0 10px;
    margin-right: 20px;
    box-sizing: border-box;
}

#gallery-left a {
    color: #333;
    text-decoration: none;
}

#gallery-right {
    width: 100%;
}

#gallery-right ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#gallery-right ul li {
    display: inline-block;
    width: 200px;
    margin-bottom: 50px;
    background-color: #E4E4E4;
}

#gallery-right ul li img {
    width: 100%;
}

#gallery-right strong {
    text-align: center;
    display: block;
    color: #555;
    line-height: 20px;
    min-height: 40px;
    margin-bottom: 10px;
    padding: 0 3px;
    font-weight: normal;
}

#product-details {
    display: flex;
    justify-content: space-between;
}

#product-details-upper-container {
    display: flex;
}

#image-gallery > a > img {
    width: 300px;
    border: 1px solid #E4E4E4;
    padding: 3px;
}

#image-gallery ul {
    list-style-type: none;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#image-gallery li {
    width: 85px;
}

#image-gallery li img {
    width: 100%;
    border: 1px solid #E4E4E4;
    padding: 3px;
}

#product-details-info {
    padding-left: 30px;
    width: 100%;
    min-width: 362px;
}

#product-details-info h1 {
    font-family: "Roboto Condensed",sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    color: #343434;
}


#product-details-info h2 {
    font-family: "Roboto Condensed",sans-serif;
    font-size: 17px;
    color: #A5A5A5;
    font-weight: normal;
    text-align: left;
}

#product-details-info ul {
    list-style-type: none;
}

#product-details-info li {
    display: inline-block;
}

#product-details-info li::after {
    content: ' / ';
}

#product-details-info li:last-of-type::after {
    content: '';
}

#product-details-info li a {
    color: #AbAbAb;
    text-decoration: none;
}

#product-details-info li a:hover {
    color: #666;
    text-decoration: none;
}

#product-details-info strong {
    font-weight: normal;
}

#product-details-order {
    min-width: 300px;
    padding-left: 30px;
}

#step4 dl {
    font-family: Tahoma;
    font-size: 15px;
    color: #333;
}

#step4 dd {
    font-weight: bold;
}

#step4 dt {
    margin-top: 15px;
}

#step4 dt:last-of-type, #step4 dd:last-of-type {
    display: inline-block;
    font-size: 21px;
}

.status-success {
    overflow: hidden;
    clear: both;
    padding: 10px 10px 10px 40px;
    text-align: center;
    border: 1px solid #8ead00;
    color: #fff;
    margin: 5px 0;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    background: #a4bf26 url(/images/icon_success.png) 10px center no-repeat;
    font-family: Tahoma;
    font-size: 14px;
    font-weight: normal;
}

.status-error-block {
    display: block;
    overflow: hidden;
    clear: both;
    padding: 10px;
    text-align: center;
    border: 1px solid #CC4848;
    color: #fff;
    margin: 5px 0;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    background: #FF5A5A;
    font-family: Tahoma;
    font-size: 14px;
    font-weight: normal;
}

.status-success-block {
    display: block;
    overflow: hidden;
    clear: both;
    padding: 10px;
    text-align: center;
    border: 1px solid #8ead00;
    color: #fff;
    margin: 5px 0;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    background: #a4bf26;
    font-family: Tahoma;
    font-size: 14px;
    font-weight: normal;
}

#image-help {
    cursor: pointer;
}

.image-help-colorbox h1 {
    font-size: 23px;
    margin: 10px 0;
}

.image-help-container {
    text-align: center;
    font-family: Tahoma;
    color: #333;
    height: 98%;
    background-color: white;
}

.image-help-colorbox ul {
    list-style-type: none;
}

.image-help-colorbox li {
    font-size: 16px;
}

#footer nav li {
    padding: 2px 0;
    display: block;
}

#footer nav li:first-of-type {
    padding-top: 0;
}

#footer nav li:last-of-type {
    padding-bottom: 0;
}

#product-price {
    margin: 0;
    font-size: 27px;
}

#product-price-info {
    text-align: center;
    font-weight: normal;
    color: #666;
    font-size: 15px;
    margin-bottom: 10px;
}

#footer div div > h5:nth-of-type(2) {
    margin-top: 20px;
}

#product-details-full-info {
    color: #a5a5a5;
    margin-top: 60px;
    font-size: 13px;
}

#product-details-full-info a {
    color: #343434;
    text-decoration: none;
}

#product-details-full-info i {
    color: #0fcabf;
    font-size: 30px;
    padding-right: 15px;
}

#product-details-full-info div:nth-child(2n) {
    padding-right: 15px;
}

#product-details-full-info > ul {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
}

#product-details-full-info strong {
    display: block;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 18px;
    color: #343434;
}

#product-details-full-info > ul > li {
    width: 50%;
    display: flex;
    flex-basis: 50%;
    margin-top: 30px;
}

#product-details-full-info ol {
    list-style-type: none;
}

.pagination {
    list-style-type: none;
}

.pagination li {
    display: inline-block;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

.pagination .active {
    background-color: #e4e4e4;
}

.pagination a {
    text-decoration: none;
    color: #555;
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 15px;
    display: block;
}

.pagination a:hover {
    color: black;
}

.popover {
    cursor: pointer;
}

.webui-popover-title {
    font-family: "Roboto Condensed",sans-serif;
    font-size: 17px !important;
    font-weight: bold;
    color: #343434;
}

.webui-popover-content {
    font-family: Tahoma;
    font-size: 14px;
    color: #666;
}

#error-page h1 {
    font-size: 46px;
    color: #111;
}

#error-page h2 {
    text-align: left;
    color: #333;
    font-size: 26px;
    margin-top: 50px;
}

#step4-delivery-fee {
    font-family: Tahoma;
    font-size: 14px;
    color: #333;
    margin-top: 10px;
}

.how-to-create-dark {
    background-color: #333;
}

.how-to-create-white {
    background-color: #E4E4E4;
    color: #343434;
}

.how-to-create-white li {
    color: #343434;
}

.how-to-create-white li .description {
    color: #636363;
}

.how-to-create-dark li .description {
    color: #a7a7a7;
}

.how-to-create-dark li {
    color: #e4e4e4;
}

.how-to-create-white h2 {
    color: #343434;
}

.how-to-create-dark h2 {
    color: #fff;
}

#how-to-info {
    display: flex;
}

#how-to-info ul {
    list-style-type: none;
}

#how-to-info > div {
    width: 50%;
}
    
#how-to-info > div:first-of-type, #how-to-info > div:last-of-type {
    width: 25%;
}

#how-to-info li {
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    font-weight: normal;
    margin: 30px 0 5px 0;
    display: block;
}

#how-to-info li .description {
    font-size: 12px;
}

#how-to-info-left li:last-of-type {
    padding-top: 50px;
}

#how-to-info-right li:first-of-type {
    padding-top: 50px;
}

#how-to-info-right li:last-of-type {
    padding-top: 70px;
}

.recommended-products-white {
    background-color: white;
}

.recommended-products-dark {
    background-color: #E4E4E4;
}

#canvas-price-container {
    margin-bottom: 20px;
}

#canvas-price-container-customer {
    color: #9E0505;
    font-size: 55px;
}

#canvas-price-container-msrp {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    font-size: 20px;
    color: #757373;
}

#canvas-price-container-msrp s {
    color: #c0392b;
    display: inline-block;
    margin-right: 5px;
}

#canvas-price-container-msrp span {
    color: #757373;
}

.price-container-canvas {
    text-align: left;
    justify-content: flex-start;
}

.blog-post-dark-inv {
    background-color: #fff;
    color: #343434;
}

.blog-post-white-inv {
    background-color: #E4E4E4;
    color: #343434;
}

#blog-posts ul {
    list-style-type: none;
}

#blog-posts li {
    display: flex;
}

#blog-posts li > span:first-of-type {
    width: 35%;
    border-right: 3px solid #b9b9b9;
    padding-right: 20px;
}

#blog-posts li > span:last-of-type {
    color: #343434;
    padding-left: 20px;
}

#blog-posts li > span:first-of-type a {
    font-weight: bold;
    text-decoration: none;
    color: #343434;
}

#blog-posts li > span:first-of-type a:hover {
    color: #0fcabf;
}

#blog-posts-page a {
    color: #0fcabf;
    font-weight: bold;
    text-decoration: none;
    font-size: 28px;
}

#blog-posts-page a:hover {
    color: #343434;
}

#blog-posts-page ol, .post-tags ul {
    list-style-type: none;
}

#blog-posts-page ol > li {
    margin-bottom: 50px;
}

#blog-posts-page ol > li strong {
    font-weight: normal;
    color: #343434;
}

.post-tags li {
    display: inline-block;
    border-bottom: 1px dotted #A5A5A5;
    font-size: 12px;
    margin-right: 10px;
}

.post-date {
    font-size: 12px;
    margin-bottom: 10px;
}

#blog-post section > p {
    display: inline-block;
    margin-bottom: 20px;
}

#blog-post section ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
    list-style-position: inside;
}

#blog-post a {
    color: #292929;
    text-decoration: none;
    border-bottom: 1px dotted #292929;
}

#blog-post section strong {
    font-weight: 500;
}

#blog-post .box {
    border: 1px dotted #737373;
    padding: 2px 4px;
    background-color: #f1f1f1;
    white-space: nowrap;
}

#shipping {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4E4E4;
    font-family: 'Comfortaa', sans-serif;
}

#shipping > div:first-of-type {
    font-size: 42px;
    padding: 0 20px;
    color: #03bf2b;
}

#shipping p:first-of-type {
    font-size: 18px;
}

#shipping p:last-of-type {
    font-size: 14px;
}

#upload-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    color: #4a4949;
}

@media all and (max-width: 1000px) {
    #header > div {
        width: 100%;
        height: 100%;
        min-height: 70px;
    }

    .site-section {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    #about-us-summary > div {
        flex-direction: column;
    }

    #footer > div {
        width: 100%;
        flex-direction: column;
        padding: 10px;
        box-sizing: border-box;
    }

    #footer > div > div {
        width: 100%;
        padding: 0;
        margin: 10px 0;
    }

    #gallery > div {
        flex-direction: column;
    }

    #contact-form form {
        width: auto;
    }

    #product-details {
        flex-direction: column;
    }

    #product-details-info, #product-details-order {
        padding-left: 0;
        min-width: initial;
    }

    #contacts ul {
        flex-direction: column;
    }

    #contacts li {
        width: 100%;
    }

    #contacts li:nth-child(2n+1) {
        text-align: left;
        margin-top: 10px;
    }

    canvas {
        width: 80%;
        height: 300px;
    }

    #canvas-container {
        flex-direction: column;
        align-items: center;
    }

    #canvas-container > div:first-of-type {
        width: 100%;
    }

    #canvas-container-right {
        padding-top: 0;
        padding-bottom: 20px;
    }

    #about-us-summary > div > span {
        width: 100%;
    }

    #about-us-summary > div > span:first-of-type {
        padding: 0;
    }

    #about-us-summary > div > span:last-of-type {
        padding: 0;
        padding-top: 20px;
    }

    #footer nav li {
        padding: 6px 0;
    }

    #gallery-right ul {
        flex-direction: column;
        margin-top: 20px;
    }

    #gallery-right li {
        align-self: center;
        margin-bottom: 30px;
    }

    #gallery-right strong {
        min-height: initial;
    }

    #gallery-left strong {
        margin-right: 0;
    }

    #product-details-container > div {
        flex-direction: column;
    }

    #product-details-upper-container {
        flex-direction: column;
    }

    #product-details-full-info {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    #product-details-full-info > ul {
        flex-direction: column;
    }

    #product-details-full-info > ul > li {
        width: 100%;
    }

    .product-details-full-info-icon {
        width: 45px !important;
    }

    #product-details-full-info div {
        padding: 0;
        width: 100%;
    }

    #logo-container div:first-of-type {
        padding-left: 10px;
    }

    #logo-container div:nth-of-type(2) {
        padding-left: 10px;
    }

    #how-to-info > div:nth-child(2) {
        display: none;
    }

    #how-to-info > div:first-of-type, #how-to-info > div:last-of-type {
        width: 50%;
    }

    #how-to-info-left li:last-of-type, #how-to-info-right li:first-of-type, #how-to-info-right li:last-of-type {
        padding-top: 0;
    }

    #recommended-products strong {
        font-size: 16px;
    }

    #how-to-info li .description {
        font-size: 14px;
    }

    #blog-post img {
        max-width: 100%;
    }

    #blog-posts li {
        flex-direction: column;
    }

    #blog-posts li > span:first-of-type {
        width: 100%;
        border-right: 0;
        padding-right: 0;
    }

    #blog-posts li > span:last-of-type {
        color: #343434;
        padding-left: 0;
        border-bottom: 2px solid #b9b9b9;
        margin-bottom: 10px;
    }
}
