@{
    Layout = null;
}

<div class="image-help-container">
    <h1>Формат на файл</h1>
    <span>Системата приема файлове във формат JPG, PNG и GIF.</span>

    <h1>Максимален размер на изображение</h1>
    <img src="~/images/image_size_preview.jpg">

    <h1>Препоръчителен размер в px</h1>
    <ul>
        <li>2362px x 1004px @@ 300dpi</li>
    </ul>
</div>
